{% if include.win_installer %}
    {% assign has_windows = true %}
{% endif %}

{% if include.win_zip %}
    {% assign has_windows = true %}
{% endif %}

{% if include.mac_installer %}
    {% assign has_mac = true %}
{% endif %}

{% if include.mac_zip %}
    {% assign has_mac = true %}
{% endif %}

<div class="file-download-panel">
    <h3>Download</h3>
    <h5>Version: {{ include.version }}</h5>

    <div class = "os-selecter">
        {%- if has_windows -%}
            <a class="file-download-os-selecter" id="os-windows" onclick="set_os_button_active(this)">Windows</a>
        {%- endif -%}
        {%- if has_mac -%}
        <a class="file-download-os-selecter" id="os-mac" onclick="set_os_button_active(this)">macOS</a>
        {%- endif -%}
    </div>
    
    <div>
        {%- if has_windows -%}
            {% include download-os-panel.html 
                installer=include.win_installer installer_size=include.win_installer_size 
                zip=include.win_zip zip_size=include.win_zip_size
                title=include_title os='windows' %}
        {%- endif -%}

        {%- if has_mac -%}
            {% include download-os-panel.html 
                installer=include.mac_installer installer_size=include.mac_installer_size 
                zip=include.mac_zip zip_size=include.mac_zip_size
                title=include_title os='mac'%}
        {%- endif -%}
    </div>
</div>

<script src="/assets/file-download.js"></script>

